[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=sudoadmin
Group=www-data
WorkingDirectory=/home/sudoadmin/src/ojopisowifi
ExecStart=/usr/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/sudoadmin/src/ojopisowifi/opw.sock opw.wsgi:application

[Install]
WantedBy=multi-user.target
