[Unit]
Description=Hooks Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/sudoadmin/src/ojopisowifi
ExecStart=/home/sudoadmin/src/venv/bin/python /home/sudoadmin/src/ojopisowifi/hooks.py
Restart=always

[Install]
WantedBy=multi-user.target
