[Unit]
Description=Hooks Service
After=opw_init.service

[Service]
Type=simple
User=sudoadmin
Group=sudo
WorkingDirectory=/home/sudoadmin/src/ojopisowifi
ExecStart=/home/sudoadmin/src/venv/bin/python /home/sudoadmin/src/ojopisowifi/hooks.py
Restart=always

[Install]
WantedBy=multi-user.target
