[Unit]
Description=Sweep Service
After=network.target

[Service]
Type=simple
User=sudoadmin
Group=sudo
WorkingDirectory=/home/sudoadmin/src/ojopisowifi
ExecStart=/home/sudoadmin/src/venv/bin/python /home/sudoadmin/src/ojopisowifi/sweep.py
Restart=always

[Install]
WantedBy=multi-user.target
