{% extends "base_site.html" %}
{% load app_extras %}

{% block title %} {{ hotspot }} {% endblock title %}

{% block body %}
    {% block content %}
        <audio id="coins_audio" src="/static/build/audio/coins.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio> 
        <div>
            <div class="row justify-content-center">
                <div class="col col-sm-6 col-md-3 p-0">
                    <div class="row">
                        <div class="col">
                            <div class="progress bg-transparent" style="height: 7px; background-color: None;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger slot_countdown" role="progressbar" style="width: 0%" aria-valuenow="10%" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="inner pt-4">
                        <div class="row">
                            <div class="col text-center">
                                <h3 class="text-info">{{ hotspot }}</h3>
                            </div>
                        </div>
                        <form method="POST">
                            {% csrf_token %}

                            {% if not whitelisted %}
                                <div class="row">
                                    <div class="col text-center">
                                        {% if insert_coin %}
                                            <h5 id="conn_stat" class="text-danger">Insert Coin</h5>
                                        {% else %}
                                            <h5 id="conn_stat" class="{% if status == 'Disconnected' %} text-danger {% elif status == 'Connected' %} text-success {% else %} text-secondary {% endif %}">{{ status }}</h5>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Coundown Timer -->

                                {% if time_left > 0 and not insert_coin %}
                                    <div class="row d-flex justify-content-center p-2">
                                        <div class="timer-progress">
                                            <div class="outer">
                                                <div class="inner">
                                                    <div class="remaining-time">
                                                    </div>
                                                </div>
                                            </div>
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                                                <defs>
                                                    <linearGradient id="GradientColor">
                                                        <stop offset="0%" stop-color="#e91e63" />
                                                        <stop offset="100%" stop-color="#673ab7" />
                                                    </linearGradient>
                                                </defs>
                                                <circle cx="80" cy="80" r="70"/>
                                            </svg>
                                        </div>
                                    </div>

                                    <!-- Extend/Pause Buttons -->

                                    <div class="row justify-content-sm-center p-2">
                                        <div class="col-6 d-flex align-items-stretch">
                                            <button type="submit" name="extend" class="mb-2 btn btn-block btn-rounded text-success btn-neu">
                                                {% if total_coins > 0 %}
                                                    <span class="badge badge-pill badge-warning"><strong>₱{{ total_coins }}</strong></span>
                                                {% else %}
                                                    <span class="fas fa-clock"></span>
                                                {% endif %}
                                                 Extend
                                            </button>
                                        </div>
                                        {% if pause_resume_flg %}
                                            <div class="col-6 d-flex align-items-stretch">
                                                <button type="submit" name="pause_resume" value="{% if status == 'Paused' %}resume{% elif status == 'Connected' %}pause{% endif %}" class="mb-2 btn btn-block btn-rounded {% if status == 'Paused' %}text-info{% elif status == 'Connected' %}text-danger{% endif %} btn-neu">
                                                    <span class="fas {% if status == 'Paused' %}fa-play{% elif status == 'Connected' %}fa-pause{% endif %}"></span>
                                                    {% if status == 'Paused' %} Resume{% elif status == 'Connected' %} Pause{% endif %}
                                                </button>
                                            </div>
                                        {% endif %}
                                    </div>

                                {% else %}

                                    <!-- Insert Coin Button -->

                                    <div class="row p-2">
                                        <div class="col text-center">
                                            <button type="submit" name="insert_coin" class="btn btn-insert-coin mx-auto 
                                            {%  if insert_coin %} pulsating {% else %} neu-shadow {% endif %}" {%  if insert_coin %} disabled {% endif %}> 
                                                <i class="fas fa-donate"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <!-- Coin Counter / Surf the net button -->

                                    <div class="row p-2">
                                        <div class="col-8 mx-auto text-center">
                                            <button type="submit" name="connect" class="btn btn-block btn-rounded btn-done btn-neu text-success" {% if total_coins == 0 %} disabled {% endif %}>
                                                {% if total_coins == 0 %} 
                                                    0 Coins Inserted
                                                {% else %}
                                                    <span class="fas fa-paper-plane"></span>
                                                    <b>Surf the Net!</b>
                                                    <span class="badge badge-pill badge-warning"><strong>₱{{ total_coins }}</strong></span>
                                                {% endif %} 
                                            </button>
                                        </div>
                                    </div>

                                    {% if voucher_flg %}
                                        <div class="row p-2"> 
                                            <div class="col-8 mx-auto text-center">  
                                                <button 
                                                    type="submit" 
                                                    name="generate" 
                                                    class="btn btn-block btn-rounded btn-generate btn-neu text-danger" 
                                                    data-toggle="modal" 
                                                    data-target="#voucher-modal" {% if total_coins == 0 %} disabled {% endif %}>    
                                                    
                                                    <span class="fas fa-barcode"></span>
                                                    Generate Voucher
                                                </button>      
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endif %}

                                <!-- Voucher Codes Button -->
                                {% if voucher_flg %}
                                    <div class="row p-2">
                                        <div class="col text-center">
                                            <small>
                                                <a href='#' data-toggle="modal" data-target="#enter-voucher-modal">
                                                    Voucher Codes
                                                    {% if vouchers %}
                                                        <span class="badge badge-pill badge-success">{{ vouchers|length }}</span>
                                                    {% endif %}
                                                </a>
                                            </small>
                                        </div>
                                    </div>
                                {% endif %}

                                <!-- Wifi Rates Button -->

                                <div class="row p-2">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle p-2" data-toggle="modal" data-target="#rates-modal"> Wifi Rates </button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row p-2">
                                    <div class="col text-center">
                                        <strong>
                                            <span id="conn_stat" class="text-success"> Connected </span>
                                        </strong>
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                        {% if user_details %}
                            <div class="row p-2 text-center">
                                <div class="col text-muted">
                                    <small>IP: {{ ip }}</small><br />
                                    <small>MAC: {{ mac }}</small>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row px-2 pt-3 text-center">
                            <div class="col">
                                <span class="text-muted"><small>Powered by: </small></span>
                                <img src="/static/build/images/ojo_logo.png" style="width: 110px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->
        <!-- Rates Modal -->
        <div class="modal fade" id="rates-modal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title">Wifi Rates</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-condensed">
                            <thead>
                                <tr><th>Coin</th><th>Time Value</th></tr>
                            </thead>
                            <tbody>
                                {% if rate_type == 'auto' %}
                                    {% for rate in rates %}
                                        <tr>
                                            <td><strong>₱{{ rate.Denom }}</strong></td>
                                            <td><strong>{{ rate.auto_rate|duration }}</strong></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    {% for rate in rates %}
                                        <tr>
                                            <td><strong>₱{{ rate.Denom }}</strong></td>
                                            <td><strong>{{ rate.Minutes|duration }}</strong></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Rates Modal -->
        <!-- Loader Modal -->
        <div class="modal fade" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="loader"></div>
                        <div class="loader-txt">
                            <small>Please wait</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Loader Modal -->

        {% if voucher_flg %}
            <!-- Enter Voucher Modal -->
            <div class="modal fade" id="enter-voucher-modal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title">Vouchers</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            {% if vouchers %}
                                <table class="table table-sm table-borderless text-center mb-1">
                                    <thead>
                                        <tr><th>Codes</th><th>Time</th><th></th></tr>
                                    </thead>
                                    <tbody>
                                        {% for voucher in vouchers %}
                                        <tr>
                                            <td class="align-middle"><strong>{{ voucher.Voucher_code }}</strong></td>
                                            <td class="align-middle"><strong>{{ voucher.Voucher_time_value|duration }}</strong></td>
                                            <td class="align-middle"><button class="btn btn-sm btn-warning p-1 btn_redeem_voucher" data-voucher="{{ voucher.Voucher_code }}"><strong>Add to time</strong></button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="text-center text-primary mb-1"> 
                                    or
                                </div>
                            {% endif %}
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control text-center" name="input_voucher_redeem" placeholder="Enter code">
                                <div class="input-group-append">
                                    <button class="input-group-text bg-success text-white" id="btn_voucher_redeem">Redeem</button>
                                </div>
                            </div>
                            <form id="voucher_form" method="POST" action="{% url 'app:redeem' %}">
                                {% csrf_token %}
                            </form>
                        </div>
                        {% if vouchers %}
                            <div class="modal-footer">
                                <small>Tip: You can share your voucher codes to others!</small>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End Enter Voucher Modal -->
        {% endif %}
    {% endblock content %}
{% endblock body %}
{% block javascripts %}
    <!-- jQuery -->
    <script src="/static/vendors/jquery-3.3.1/jquery.js"></script>

    <!-- Bootstrap JS -->
    <script src="/static/vendors/bootstrap-4.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/static/build/js/timer.js"></script>

    <script>
        var token = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var slot_timeout = {{ slot_timeout }};
        var seconds_left = {{ time_left }};
        var conn_status = '{{ status }}';
        var total_coins = {{ total_coins }};
        var pause_resume_enable_time = {{ pause_resume_enable_time }};
        var ip_add = '{{ ip }}';
        var mac_add = '{{ mac }}';
        var total_time = {{ total_time }};
        var insert_coin = {{ insert_coin|yesno:"true,false" }};
        var slot_remaining_time = {{ slot_remaining_time }};
    </script>

    <!--PNotify JS-->
    <script src="/static/build/js/pnotify.custom.min.js"></script>

    <!--Custom JS-->
    <script src="/static/build/js/app.js"></script>

    <!--Material Design Bootstrap JS-->
    <!-- <script type="text/javascript" src="/static/vendors/mdb-free_4.5.12/js/mdb.min.js"></script> -->

    {% if push_notif and not whitelisted %}
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            window.OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                    appId: "{{ push_notif.app_id }}",
                });
            });

            {% if appNotification_ID %}
            var notifId = "{{ appNotification_ID}}";
            {% else %}
            var notifId = null;
            {% endif %}

            function update_notif_id(userId){
                const data = {action: 'update_notif_id', notifId: userId, mac: mac_add};
                fetch('', {
                    method: 'POST',
                    mode: 'same-origin',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                        'X-CSRFToken': token
                    }
                })
                .then(response => response.text()
                )
                .then(data => {
                console.log('Success:', data);
                })
                .catch((error) => {
                console.error('Error:', error);
                });
            }

            OneSignal.push(function() {
                OneSignal.getUserId(function(userId) {
                    if (!notifId || notifId !== userId && userId){
                        update_notif_id(userId);
                        notifId = userId
                    }
                });
            });

            OneSignal.push(function() {
                OneSignal.on('subscriptionChange', function (isSubscribed) {
                    OneSignal.push(function() {
                        OneSignal.getUserId(function(userId) {
                            update_notif_id(userId);
                            notifId = userId
                        });
                    });
                });
            });
        </script>
    {% endif %}

    <script>
        $(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    var icon = '{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}fas fa-exclamation-triangle{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}fas fa-wifi{% endif %}'
                    var type = '{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}error{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% endif %}'

                    show_notification(type, icon, '{{message|safe}}');

                    {% if 'voucher_redeem' in message.extra_tags %}
                        $('#enter-voucher-modal').modal('show');
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if insert_coin %}
                var coins_audio = document.getElementById("coins_audio");

                countdown(slot_remaining_time);

                q = setInterval(function(){
                    $.ajax({
                        method: 'GET',
                        url: '/app/commit',
                        success: fetch_queue_info
                    })
                }, 1000 )

                function fetch_queue_info(response){
                    if (response['Status'] == 'Available'){
                        clearInterval(q);
                        show_notification('error', 'fas fa-stopwatch', '<strong>Slot timeout.</strong>');
                        $('.btn-insert-coin').removeClass('pulsating').addClass('neu-shadow');

                        setTimeout(function(){
                            window.location.reload()
                        }, 2000)
                        
                    }

                    if (response['Total_Coins'] > total_coins){
                        countdown(response['Timeout']);

                        total_coins = response['Total_Coins'];

                        total_time = new Date(null);
                        total_time.setSeconds(response['Total_Time']);
                        total_time_val = total_time.getTime();

                        $('.btn-done').html('<span class="fas fa-paper-plane"></span>\
                                            <b> Surf the Net!</b>\
                                            <span class="badge badge-pill badge-warning">\
                                            <strong>₱' + total_coins + '</strong></span>');

                        $('.btn-done').removeAttr('disabled');
                        
                        {% if voucher_flg %}
                            $('.btn-generate').removeAttr('disabled');
                        {% endif %}

                        msg = 'Total of <strong>₱' + total_coins + '</strong> is loaded. <strong>(+' + time_formatter(total_time_val) + ')</strong>';
                        show_notification('info', 'fa fas-coins', msg);
                        coins_audio.play();
                    }
                }
            {% endif %}

            {% if voucher_flg %}
                var voucher_form = $('#voucher_form');
                
                $('.btn_redeem_voucher').on('click', function(){
                    var voucher = $(this).attr('data-voucher');
                    redeem_voucher(voucher)
                })

                $('#btn_voucher_redeem').on('click', function(){
                    var voucher = $('input[name=input_voucher_redeem]').val();
                    if(voucher){
                        redeem_voucher(voucher);
                    }
                })

                function redeem_voucher(voucher){
                    voucher_form.append($('<input>').attr({
                        type: 'hidden',
                        name: 'voucher_code',
                        value: voucher
                    })).submit()
                }
            {% endif %}
        })
    </script>
{% endblock javascripts %}